.container {
    max-width: 960px;
    margin: 0 auto;
}
.cta-bg {
    background: url("https://scontent.fbkk14-1.fna.fbcdn.net/v/t1.15752-9/241525715_187222123485164_6134296005870828886_n.png?_nc_cat=100&ccb=1-5&_nc_sid=ae9488&_nc_eui2=AeFd49mQq7MDBaYJ3AmhJVpsysN1e4w72KbKw3V7jDvYpojcusbxqs-DBE9KdVEvgOC3sosTVdBS6tGJYtdk-rRc&_nc_ohc=AJQNRd1BVD8AX-D_LUx&_nc_ht=scontent.fbkk14-1.fna&oh=cb5acf87b7d6b89fe5ae71425b3fa670&oe=616CFF66") no-repeat;
    height: 500px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5)
}
.cta-text {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 500px;
    text-align: center;
}
.cta-text h2 {
    margin: 0;
}
.FiCode {
    font-size: 2rem;
    margin-bottom: .5rem;
}

.cta-btn {
    background: #fff;
    display: inline-block;
    padding: .5rem 1rem;
    text-decoration: none;
    color: #333;
    border: 2px solid transparent;
    transition: 0.3s;
    margin-top: 1rem;
    border-radius: 5px;
    text-transform: uppercase;
}
.cta-btn:hover {
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
}

@media screen and (max-width: 480px) {
    .cta-text {
        padding: 0 2rem;
    }
}